* {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    margin-bottom: 10px;
}

html {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -150px;
}

.buffer {
	height: 150px;
}

div.product {
	float: left;
	width: 33%;
}

footer {
	border: 1px solid red;
	clear: both;
	height: 150px;
	padding: 50px 0px 0px 0px;
}

.em-width {
	font-size: 0.8rem;
}

h1 {
	font-size: 2rem;	
}

h2 {
	font-size: 1.5rem;	
}

a:link { 
	color: #036; /* Цвет непосещенных ссылок */
}
a:visited { 
	color: #606; /* Цвет посещенных ссылок */
}
a:hover { 
	color: #f00; /* Цвет ссылок при наведении на них курсора мыши */
}
a:active { 
	color: #ff0; /* Цвет активных ссылок */
}

.inp:focus {
	color: red;
}

b:first-child {
	color: red;
}


.foo:before { 
	content: ".";
	width: 20px;
}

.foo:after { 
	content: "sdfsfsdfsdf";
	/*width: 20px;*/
}

.foo:first-letter { 
	color: red;
}

.foo:first-line {
	font-style: italic;
}